In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [20]:
# A simple data frame
df = DataFrame({'city':['Beijing', 'Shanghai', 'Tokyo', 'New York', 'Mumbai', 'Bangkok', 'Seoul'],
                'food':['duck', 'baozi', 'sushi', 'burger', 'banana', 'banana', 'kimchi']},
                 index = [1, 2, 3, 4, 5, 6, 7], columns = ['city', 'food'])

In [21]:
df

       city    food
1   Beijing    duck
2  Shanghai   baozi
3     Tokyo   sushi
4  New York  burger
5    Mumbai  banana
6   Bangkok  banana
7     Seoul  kimchi

In [22]:
# Add column for these city states
Country={'Beijing':'China', 'Shanghai':'China', 'Tokyo':'Japan', 'New York':'US', 'Mumbai':'India', 'Bangkok':'Tailand', 'Seoul':'Korean'}

In [23]:
df['Country'] = df['city'].map(Country)

In [24]:
df

       city    food  Country
1   Beijing    duck    China
2  Shanghai   baozi    China
3     Tokyo   sushi    Japan
4  New York  burger       US
5    Mumbai  banana    India
6   Bangkok  banana  Tailand
7     Seoul  kimchi   Korean

### What about this ?

In [27]:
# Create a dframe to work with
df = DataFrame({'city':['Beijing', 'Shanghai', 'Tokyo', 'New York', 'Mumbai', 'Bangkok', 'Seoul', 'beijing', 'mumbai']},
                index = [1, 2, 3, 4, 5, 6, 7, 8, 9], columns = ['city'])

In [28]:
df

       city
1   Beijing
2  Shanghai
3     Tokyo
4  New York
5    Mumbai
6   Bangkok
7     Seoul
8   beijing
9    mumbai

In [9]:
# Add column for these city states
Country={'Beijing':'China', 'Shanghai':'China', 'Tokyo':'Japan', 'New York':'US', 'Mumbai':'India', 'Bangkok':'Tailand', 'Seoul':'Korean'}

In [29]:
#可以看到上面北京有大小写两种格式
df['Country'] = df['city'].map(lambda x: Country[x.title()])
#title（）函数是格式化字符，首字母大写

In [30]:
df.city[8].title()

'Beijing'

In [31]:
df

       city  Country
1   Beijing    China
2  Shanghai    China
3     Tokyo    Japan
4  New York       US
5    Mumbai    India
6   Bangkok  Tailand
7     Seoul   Korean
8   beijing    China
9    mumbai    India