### 这一小节我们来学习 replace 注意 replace是针对 value来说的

In [1]:
import numpy as np
import pandas as pd 
from pandas import Series, DataFrame

In [2]:
# Lets make  Series
ser1 = Series([1, 2, 3, 4, 1], index = ['a', 'b', 'c', 'd', 'e'])

In [3]:
ser1

a    1
b    2
c    3
d    4
e    1
dtype: int64

In [4]:
# Use.replace(value to be replaced, new_value)
ser1.replace(1, np.nan)

a    NaN
b    2.0
c    3.0
d    4.0
e    NaN
dtype: float64

In [5]:
ser1

a    1
b    2
c    3
d    4
e    1
dtype: int64

In [6]:
#Can also input lists
ser1.replace([1, 4], [100, 400], inplace = True)

In [7]:
#Can also input dictionary
ser1.replace({400: 4}, inplace = True)

In [8]:
ser1

a    100
b      2
c      3
d      4
e    100
dtype: int64